<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-brand">
			<img src="/assets/logo.png" alt="Logo">
		</div>
    <a class="head-link">
      <h4>Welcome to the District's Health Insurance Marketplace</h4>
    </a>
    <a class="contact-info">
      <h5 class="customer-service">CALL CUSTOMER SERVICE</h5>
      <p class="info-number"> <i class="fa fa-phone fa-lg"></i>1-855-532-5465</p>
    </a>
	</div>
</nav>

<div class="container">
	<router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="container">
  &copy; 2013-2017 DC Health Link. All Rights Reserved.
  </div>
</div>
