/* You can add global styles to this file, and also import other style files */

body {
	background-color:#fff;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}
.nav {
	height:73px;
	width:auto;
	border-bottom: 1px solid rgb(0, 123, 196);
}
.nav-header {
	padding:1%;
}
